<!DOCTYPE html>
<html>
<head><title>Generate Patient Report</title></head>
<body>
    <h2>Patient Report Generator</h2>
    <form action="/generate_pdf" method="post">
        <label>Patient Name:</label>
        <input type="text" name="name" value="{{ user.name }}"><br><br>

        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}"><br><br>

        <label>Phone Number:</label>
        <input type="text" name="phone" value="{{ user.contact }}"><br><br>

        <label>Allergies:</label>
        <input type="text" name="allergies" value="{{ user.allergies }}"><br><br>

        <label>Symptoms:</label><br>
        <textarea name="symptoms" rows="4" cols="50">{{ symptoms }}</textarea><br><br>

        <label>Doctor Email:</label>
        <input type="email" name="doctor_email" required><br><br>

        <input type="submit" value="Generate & Email Report">
    </form>
</body>
</html>
